.second{
    padding-top: 30px;
}
.btn{
    width: 50px;
    height: 50px;
    margin: 3px;
}
#bt{
    background-color: orange;
}
.one{
    padding-top: 5px;
}

#result{
    width: 230px;
    height: 40px;
    text-align: end;
}